properties
updateList
updateDoNotCopyOverList
ErrorLogs/*
FitNesse/*
files/
.svn
.DS_Store
desktop.ini
/content.txt
/properties.xml
TemplateLibrary/
RecentChanges/
PageHeader/
PageFooter/
MelodyDunnBug/
FrontPage/
*.zip

